<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <title>All flights</title>
</head>
<body>
    <main>
        <div class="navbar">
            <a href="/flights">All Flights</a>
            <a href="/flights/new">Add Flight</a>
        </div><br><br><br>  
        <% for (let f of result) { %>
           <div> 
           Airline: <strong> <%= f.airline,  %> </strong> <br>
           Airport: <strong> <%= f.airport, %> </strong> <br>
           Flight Number: <strong><%= f.flightNo, %> </strong> <br>
           Departure: <strong> <%= f.departs %> </strong> <br><br><br>
        <% } %> </div>
        <br><br>
    </main>
</body>
</html>